<h1>AI Tools for Category: <%= @category.category %></h1>

<ul>
  <% @ai_tools.each do |ai_tool| %>
    <li>
      <%= link_to ai_tool.name, ai_tool_path(ai_tool.id) %><br>
    </li>
    <br>
  <% end %>
</ul>

<ul class="pagination justify-content-center">
  <%= will_paginate @ai_tools, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</ul>

<br>

<div class="col-lg-2 text-center">
  <div class="d-flex justify-content-between">
    <a class="btn btn-primary text-nowrap" href="<%= root_path %>" role="button"style="margin-left: 20px">Go back to Home page</a>
    <a class="btn btn-primary text-nowrap" href="<%= category_pages_path %>" role="button" style="margin-left: 20px">Go back to Categories</a>
  </div>
</div>

