<h1> Edit the AI Tool </h1>

<p> Please enter following details to edit the AI tool</p>

<%= form_with model: @ai_tool do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :description %>
  <%= form.text_field :description %>
  <%= form.label :link %>
  <%= form.text_field :link %>
  <%= form.label :category %>
  <%= form.select :category_id, @categories %>
  <%= form.label :price %>
  <%= form.select :price_id, @prices %>
  <%= form.submit "Update " %>

<% end %>
<br />
<%= link_to 'Cancel', ai_tool_path(@ai_tool.id) %>
