
<% @ai_tools.each_with_index do |ai_tool, index| %>
  <div class="accordion" id="accordionExample<%= index %>" style="margin-top: 20px; margin-right: 25px; width: auto">
    <ul style="font-family: 'Roboto', sans-serif;">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
            <%= link_to ai_tool.name, ai_tool_path(ai_tool.id), style: "color: #333; text-decoration: none; font-weight: bold;" %>
            <br>
          </button>
        </h2>
        <div id="collapse<%= index %>" class="accordion-collapse collapse" data-bs-parent="#accordionExample<%= index %>">
          <div class="accordion-body">
            <strong style="color: black;">Description:</strong>
            <span style="color: #555;"><%= ai_tool.description %></span><br>

            <strong style="color: black;">Link:</strong>
            <%= link_to ai_tool.link, ai_tool.link, target: "_blank", style: "color: #555;" %><br>

            <strong style="color: black;">Category:</strong>
            <span style="color: #555;"><%= ai_tool.category.category %></span><br>

            <strong style="color: black;">Price:</strong>
            <span style="color: #555;"><%= ai_tool.price.price %></span><br>
          </div>
        </div>
      </div>
    </ul>
  </div>
<% end %>





  <ul class="pagination justify-content-center">
    <%= will_paginate @ai_tools, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </ul>

  <br>
  <div class="col-lg-2 text-center">
    <a class="btn btn-primary" href="<%= root_path %>" role="button" style="margin-bottom: 20px">Go back to Home
      page</a>
  </div>
